# Your scientific stack
numpy
pandas
xarray
matplotlib
scikit-learn
statsmodels
netCDF4
SkillMetrics
gsw
cmocean
seaborn
plotly
cartopy
cryptography
scipy
dask
reportlab
rasterio

# Testing dependencies
pytest
pytest-fixture-config
eliot
eliot-tree

# Documentation dependencies for Sphinx
sphinx
myst-parser
sphinxcontrib-serializinghtml
alabaster
babel
docutils
Pygments
sphinx-book-theme